header {
    background-color: #700b0b;
    font-weight: bold;
    color: #ffffff;
    font-size: 26px;
    padding: 8px;
}
body {
    color: #404040;
    font-size: 14px;
    margin: 0;
}

main {
    background-color: #F2F2F2;
}

h1 {
    font-size: 50px;
}

h2 {
    font-weight: bold;
    font-size: 26px;
}

h3 {
    background-color: #700b0b;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: bold;
} 

article {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 1px, color #404040;
}

footer {
    color: #FFFFFF;
    background-color: #404040;
    padding: 8px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    height: 60px;
}

.editor {
    height: 85px;
    width: 108px;
}

.images {
    height: 278px;
    width: 370px;
}
